body{
  margin: 1em;
}

.splash{
  background:url(/assets/backpack-web.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 20%;
  background-position: center;
}
.ourForm {
  background-color: green;
}

.add-item-container {
  display: inline;
  display: flex;
  justify-content: center;
}
.add-item {
  text-align: center;
  width: 20em;
  padding: 5px;
}

.individual-item-display{
  border: 1px;
  border-style: solid;
  padding: 1em;
  margin: 1em;
}

.community-item-display{
  border: 1px;
  border-style: solid;
  padding: 1em;
  margin: 1em;
}

.packed{
  background-color: #008E00;
  display: inline;
  padding: 0.5em;
  border-radius: 10px;
}
.unpacked{
  background-color: #ED0038;
  display: inline;
  padding: 0.5em;
  border-radius: 10px;
}

.float-right{
  float: right;
}



a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
a.btn:hover { border-radius: .25rem; }
