body{
  margin: 1em;
}

.ourForm {
  background-color: green;
}

.add-ind-item-container {
  display: inline;
  display: flex;
  justify-content: center;
}
.add-ind-item {
  text-align: center;
  background-color: green;
  width: 20em;
  padding: 5px;
}

.individual-item-display{
  border: 1px;
  border-style: solid;
  padding: 1em;
  margin: 1em;
}

.upcomingTrips {

}
a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
a.btn:hover { border-radius: .25rem; }
