.mainImage{
  width: 20em;
  height: auto;
  border: 2px;
  border-style: double;
  border-radius: 50px;
  margin-top: 2em;
}

::-webkit-scrollbar {
  display: none;
}

.inviteImage{
  width: 18em;
  height: auto;
}

.backpack-background-image{
  background:url(/assets/images/backpack-web.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 20%;
  background-position: center;
}

.jumbotron{
  width: 100%;
}

.jumbo{
  font-weight: 900;
  font-size: 400%;
  font-style: oblique;
  margin-bottom: 0.25em;
}

.lake-background-image{
  background:url(/assets/images/lake.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

.add-item-container {
  display: inline;
  display: flex;
  justify-content: center;
}
.add-item {
  text-align: center;
  width: 20em;
  padding: 5px;
}

.btn-outline-danger{
  color: #FE431A;
  border-color: #FE431A;
}

.btn-outline-warning{
  color: #EBC92C;
  border-color: #EBC92C;
}

.btn-outline-success{
  color: #2F7C21;
  border-color: #2F7C21;
}

.btn-success{
  background-color: #2F7C21;
}

.btn-danger{
  background-color: #FE431A;
}

.ruda-font{
  font-family: 'Ruda', sans-serif;
}
.fredericka-font{
  font-family: 'Fredericka the Great', cursive;
}
.skranji-font{
  font-family: 'Skranji', cursive;
}

.remove-blue{
  color: inherit; 
}

a:hover{
  color: white; 
  text-decoration:none; 
  cursor:pointer;  
}

.navbar{
  padding-top: 12px;
  margin-bottom: 2em;
}

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mycard{
  margin-top: 1.5em;
  padding: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  box-shadow: 10px 10px 5px grey;
  border-radius: 1em;
  background-color: #D5D1D0;
  opacity: .95;
}

.mycard-form{
  width: 30em;
  margin-top: 1.5em;
  padding: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 2em;
  box-shadow: 10px 10px 5px grey;
  border-radius: 1em;
  background-color: #D5D1D0;
  opacity: .95;
}

.no-opacity{
  background-color: #008E00;
}

.trip-button{
  width: 7em;
}

.container{
  padding-top: 8em;
  padding-bottom: 6em;
}

.bold{
  font-weight: bolder;
}

.form-input{
  width: 20em;
  margin-bottom: 1.5em;
  text-align: center;
}

.form-label{
  text-align: center;
}

.form-button{
  margin-bottom: 1em;
  width: 15em;
  text-align: center;
}

.nav-link{
  background-color: #00A1E1;
  margin: 5px;
  color: white;
  font-size: 150%;
}

.active{
  background-color: rgb(0, 110, 153) !important;
}

.invite-form{
  width: 15em;
}

.margin-details{
  margin: 0.5em;
}

.myinline{
 display: inline-block;
}

.my100{
 width: 100%;
}

.editTripBtn{
  width: 8em;
 }

 .packerBtnsWdth{
   width: 15em;
 }

.pill-width{
  width: 15em;
}